.english {



   h2 {
      font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
      padding: clamp(1.5rem, 1.318rem + 0.91vw, 2rem) 0 clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
   }

   &__page {
      display: flex;
      justify-content: space-between;
      align-items: center;


      @media (max-width: 768px) {
         flex-direction: column;
      }
   }

   &__text {
      text-align: left;
      padding: 16px;
   }

   img {
      @media (max-width: 768px) {
         max-width: 450px;
      }

      width: 100%;
      height: 100%;
      max-width: 50%;
   }

   &__price {
      padding: 72px 15px;
      position: relative;

   }

   &__price::after {
      --background: #12c2e9,
         #c471ed,
         #f64f59;
      content: '';
      background-image: linear-gradient(45deg,
            var(--background));
      position: absolute;
      inset: 0;
      transform: skewY(3deg);
      z-index: -1;
   }

   &__price-text {
      text-align: left;
      color: white;
      max-width: 500px;
      width: 100%;
      padding: 0 20px;
      display: block;
      margin: 0 auto;

      p {
         font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
         padding-bottom: 1.5rem;
      }

      ul {

         li {
            font-size: 1.2rem;
            list-style-type: circle;
            text-decoration: dotted;
            padding-bottom: 16px;
         }

         text-align: left;
      }
   }

}