@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap");
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  position: sticky;
  background-color: white;
  height: 72px;
  position: sticky;
  top: 0;
  z-index: 4;
}
.header__logo {
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.header__menu {
  font-size: 1.1rem;
}

body {
  height: 100%;
}
body.lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: flex;
    width: 32px;
    height: 18px;
    position: relative;
    z-index: 111;
    cursor: pointer;
  }
  .menu__icon.active span {
    transform: scale(0);
  }
  .menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.2s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .menu__body {
    z-index: 5;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    transition: all 0.2s;
    overflow: auto;
  }
}
.menu__body.active {
  left: 0;
}
.menu__list {
  display: flex;
  gap: clamp(1rem, -0.49rem + 3.15vw, 1.875rem);
}
@media (max-width: 768px) {
  .menu__list {
    flex-direction: column;
    gap: 0;
    padding: 32px;
    margin: auto;
  }
}
.menu__link {
  color: white;
  text-decoration: none;
}
@media (min-width: 769px) {
  .menu__link:hover {
    transition: all 0.2s;
    color: #008cff;
  }
}
@media (max-width: 768px) {
  .menu__link {
    display: block;
    font-size: 32px;
    line-height: 64px;
  }
}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
.main__title > h1 {
  font-size: clamp(2rem, 1.864rem + 0.68vw, 2.375rem);
  padding-top: clamp(1.25rem, 0.25rem + 5vw, 4rem);
  padding-bottom: 16px;
}
.main__title address {
  font-style: normal;
}
.main__page {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.727rem + 1.36vw, 1.75rem);
  align-items: center;
  margin-bottom: clamp(1.5rem, 0.591rem + 4.55vw, 4rem);
}
.main__info {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 15px 72px 15px;
  position: relative;
  text-align: left;
  z-index: 3;
}
.main__info .info__title {
  font-size: 32px;
  text-align: left;
  padding-bottom: 20px;
  font-weight: 700;
}
.main__info::after {
  --background: #12c2e9,
     #c471ed,
     #f64f59;
  content: "";
  background-image: linear-gradient(45deg, var(--background));
  position: absolute;
  inset: 0;
  transform: skewY(-3deg);
  z-index: -1;
}
.main__about {
  color: white;
  padding: 64px 15px 72px 15px;
  position: relative;
  text-align: left;
  z-index: 3;
}
.main__about .about__list {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(1rem, -4.333rem + 11.11vw, 4rem);
}
@media (max-width: 850px) {
  .main__about .about__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  .main__about .about__list {
    grid-template-columns: 1fr;
  }
}
.main__about .about__list img {
  align-self: center;
  max-width: 56px;
  max-height: 56px;
  height: 100%;
  width: 100%;
}
.main__about .about__list .item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  background-color: #181818;
  border-radius: 32px;
  text-align: left;
}
.main__about .item__title {
  font-size: clamp(1rem, 0.782rem + 1.09vw, 1.6rem);
  font-weight: 700;
}
@media (max-width: 550px) {
  .main__about .item__title {
    font-size: 1.2rem;
    text-align: center;
  }
}
.main__about .item__text {
  font-size: clamp(1rem, 0.757rem + 0.46vw, 1.1rem);
}
.main__about::after {
  --background: #12c2e9,
     #c471ed,
     #f64f59;
  content: "";
  background-image: linear-gradient(45deg, var(--background));
  position: absolute;
  inset: 0;
  transform: skewY(3deg);
  z-index: -1;
}
.main__go-study {
  margin: 64px 0;
}

.go-study {
  color: #fff;
  display: inline-block;
  background-image: linear-gradient(45deg, #B33FFF, #09D3FF);
  padding: 32px 16px;
  border-radius: 42px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  margin: 0 auto;
  transition: all 0.2s;
}
.go-study:hover {
  /* Виправлено синтаксичну помилку тут */
  transform: scale(1.05);
}

.english h2 {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  padding: clamp(1.5rem, 1.318rem + 0.91vw, 2rem) 0 clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}
.english__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .english__page {
    flex-direction: column;
  }
}
.english__text {
  text-align: left;
  padding: 16px;
}
.english img {
  width: 100%;
  height: 100%;
  max-width: 50%;
}
@media (max-width: 768px) {
  .english img {
    max-width: 450px;
  }
}
.english__price {
  padding: 72px 15px;
  position: relative;
}
.english__price::after {
  --background: #12c2e9,
     #c471ed,
     #f64f59;
  content: "";
  background-image: linear-gradient(45deg, var(--background));
  position: absolute;
  inset: 0;
  transform: skewY(3deg);
  z-index: -1;
}
.english__price-text {
  text-align: left;
  color: white;
  max-width: 500px;
  width: 100%;
  padding: 0 20px;
  display: block;
  margin: 0 auto;
}
.english__price-text p {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  padding-bottom: 1.5rem;
}
.english__price-text ul {
  text-align: left;
}
.english__price-text ul li {
  font-size: 1.2rem;
  list-style-type: circle;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  padding-bottom: 16px;
}

.germanny h2 {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  padding: clamp(1.5rem, 1.318rem + 0.91vw, 2rem) 0 clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}
.germanny__page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .germanny__page {
    flex-direction: column;
  }
}
.germanny__text {
  padding-bottom: 32px;
  text-align: left;
}
.germanny img {
  width: 100%;
  height: 100%;
  max-width: 50%;
}
@media (max-width: 768px) {
  .germanny img {
    max-width: 450px;
  }
}
.germanny__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  text-align: left;
}
.germanny img {
  -o-object-fit: contain;
     object-fit: contain;
  /* Опционально, чтобы картинка сохраняла пропорции */
}
.germanny__price {
  padding: 64px 15px 72px 15px;
  position: relative;
}
.germanny__price::after {
  --background: #12c2e9,
     #c471ed,
     #f64f59;
  content: "";
  background-image: linear-gradient(45deg, var(--background));
  position: absolute;
  inset: 0;
  transform: skewY(-3deg);
  z-index: -1;
}
.germanny__price-text {
  text-align: left;
  color: white;
  max-width: 500px;
  width: 100%;
  padding: 0 20px;
  display: block;
  margin: 0 auto;
}
.germanny__price-text p {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  padding-bottom: 1.5rem;
}
.germanny__price-text ul {
  text-align: left;
}
.germanny__price-text ul li {
  font-size: 1.2rem;
  list-style-type: circle;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  padding-bottom: 16px;
}

.contact {
  margin-bottom: 32px;
}
.contact h3 {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  padding: clamp(1.5rem, 1.318rem + 0.91vw, 2rem) 0 clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}
.contact__page {
  font-size: 1.2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .contact__page {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
  }
}
.contact__text {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact__text address {
  font-style: normal;
  font-weight: 300;
  padding-bottom: 2rem;
}
.contact__text p {
  display: block;
  position: relative;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .contact__text {
    align-items: center;
  }
}
.contact img {
  max-width: 450px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
.contact__phone {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  text-align: center;
  padding-bottom: 32px;
}

body,
html {
  width: 100%;
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper .full-screen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper .full-screen-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Это свойство позволит изображению заполнить всю область родителя без искажений */
}

.main {
  width: 100%;
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 10px;
  margin: 0 auto;
}

.back-video {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */